html, body, div#root, div.screen_wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

html, body {
	background: #464445;
}

.screen_wrapper {
	position: absolute;
	visibility: visible;
	&.screen_hidden{
		opacity: 0;
		visibility: visible;
		animation: 1s fadeOut;
		animation-fill-mode: forwards;

	}
}

.screen_wrapper {
  transition: opacity 700ms ease-in;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes fadeOut {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}