.areaLink {
	position: relative;
	// background: red;
	// opacity: 0.3;
}


.painting-area-link {
	top: 0;
	left: 0;
	width: 22%;
	height: 85%;
}

.keypad-link {
	display: inline-block;
	left: -11.5%;
	height: 18%;
	top: -2%;
	width: 10%;
}