.areaLink {
	position: relative;
	// background: red;
	// opacity: 0.3;
    cursor: pointer;
}


.predrawer-area-link {
    top: 46%;
    left: 15%;
    width: 15%;
    height: 22%;
}


.keys-link {
    left: 15%;
    height: 53%;
    top: 27%;
    width: 65%;
    transform: rotate(54deg);
}