div.screen_wrapper.screen_main {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

div#container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

